@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: #fff; /* fallback for old browsers */
    background-color: -webkit-linear-gradient(right, #fff, #fff);
    background-color: -moz-linear-gradient(right, #fff, #fff);
    background-color: -o-linear-gradient(right, #fff, #fff);
    background-color: linear-gradient(to left, #fff, #fff);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}

.login-page {
    /* width: 360px; */
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.form p {
    margin-top: -5px;
    text-align: center;
}
.form a {
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
}
.form label{
    margin-top: 20px;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 10px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
    .container .info span .fa {
    color: #EF3B3A;
}

section
{
	background-color:#FFFFFF;
	font-family: Arial;
	padding: 10px;
}

footer
{
	background-color:#000000;
	color:#FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	padding: 8px;
}